block content
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.min.css' rel='stylesheet')
    title Ziele
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
body
    script(src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')

    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
    .container
        .jumbotron
            h2 Wie viele Punkte möchtest du erreichen?
        form(method='POST' action='/goals')
            div.form-group
                div
                    label(for='code') ID (6-stellig):
                    input#name.form-control(type='text' name='code' required='' value='' maxlength='6' placeholder="Code aus ersten beiden Buchstaben des Vornamens der Mutter, des Vaters und des Geburtsmonats")
                div 
                    label(for='score') Zielpunkte:
                    input#name.form-control(type='number' name='score' required='' value='' max='100' placeholder="Zielpunktzahl")
                div
                    | &nbsp;
                input(type="submit")
